.container
	.gallery-wrap
	
	.gallery-cover
	
	#about
		%h2.section-title About
		
		%h3 The Club
		The Institution of Engineers (IE), NITK Chapter is a recognized student organization affiliated to the Institution of Engineers, India.
		The oldest professional society on campus (established in 1969), IE has a glorious legacy; one we always strive to better through carefully designed activities and initiatives. In these activities, we are guided and mentored continuously by our faculty advisor, Mr. Subramanya K (Department of Applied Mechanics and Hydraulics).
		
		%h3 What sets us apart
		In today's world, there is an increasing need for professionals to be multifaceted and possess diverse skills.
		Exactly what we're proud of at IENITK
		Our incredible diversity. All the inter-disciplinary activities others wouldn&#8217;t think of. The open exchange of ideas. The free, stimulating atmosphere that follows us around.
		We're glad to be this way and want it to only get better. Thus, we look for students with the ugre to do something spectacular during their stint at NITK, those who have varied interests and seek to glow holistically rather than in a single aspect. With such a dynamic group, we seek to convert interests into tangible, useful skills.
		
		
		%h3 Activities and Initiatives
		IE, NITK chapter is deeply indebted to the college for continuous support and assistance. Through events and activities held in college, IE aims to serve as a forum for all students in college to interact and develop interests that would help the student body as well as give back to society.
		%em Detailed information about these may be found in our</em> <a href="www.ienitk.org/events"><em><strong>events page</strong></em></a>.
		Within the club, members of IE have exposure to diverse avenues of skill development through specific programs, notably the <strong>IE Special Interest Groups(IE SIGs)</strong>.  Through these, projects are taken up to develop hands-on technical, team-working and managerial skills: qualities essential for any engineer, yet hard to build without such a platform.
		<em>Find out more about IE SIGs and projects in our</em> <a href="www.ienitk.org/sig"><em><strong>sig page</strong></em></a>


		%h3 engineer
		The 1989 batch of IE <acronym title="then KREC"><span class="caps">NITK</span></acronym>, was responsible for <strong>TechnoKREC</strong> – the very first collegiate technical fest in India. From then to now, most colleges have started their own fest, opening doors to wonderful innovations in engineering colleges all around India. IE <span class="caps">NITK</span> chapter is proud to have planted the idea. That spirit and dedication continues today, as we, along with the other technical societies of <span class="caps">NITK</span>, shoulder <strong><span class="caps">ENGINEER</span> &#8211; the annual technical symposium of <span class="caps">NITK</span></strong>. IE members play an active role in organizing and conducting this fest. We work towards unending improvement every year, and share the vision of making <span class="caps">ENGINEER</span> the biggest and best technical fest of the country.
	

	.sep
		%i.icon-calender

	.upcoming
		Upcoming event for the institution of Engineers.

	.blog
		Blog posts